In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
inbound = pd.read_csv('../Data/Inbound.csv')
outbound = pd.read_csv('../Data/outbound.csv')
inventory = pd.read_csv('../Data/inventory.csv')
operation = pd.read_csv('../Data/operationCost.csv')
material = pd.read_csv('../Data/materialMaster.csv')

In [3]:
# inboundSG = inbound[inbound['PLANT_NAME'] == 'SINGAPORE-WAREHOUSE']
# inboundSG.groupby(['INBOUND_DATE', 'MATERIAL_NAME']).agg(
#     total_quantity=('NET_QUANTITY_MT', 'sum')
# ).reset_index().sort_values(by='INBOUND_DATE')

In [4]:
# inboundChina = inbound[inbound['PLANT_NAME'] == 'CHINA-WAREHOUSE']
# inboundChina.groupby(['INBOUND_DATE', 'MATERIAL_NAME']).agg(
#     total_quantity=('NET_QUANTITY_MT', 'sum')
# ).reset_index().sort_values(by='INBOUND_DATE')

In [5]:
inventory.head(10)

,BALANCE_AS_OF_DATE,PLANT_NAME,MATERIAL_NAME,BATCH_NUMBER,UNRESRICTED_STOCK,STOCK_UNIT,STOCK_SELL_VALUE,CURRENCY
0,12/31/2023,CHINA-WAREHOUSE,MAT-0045,SCRAP,164,KG,211,CNY
1,12/31/2023,CHINA-WAREHOUSE,MAT-0193,6024,0,KG,87666,CNY
2,12/31/2023,CHINA-WAREHOUSE,MAT-0193,5755,70720,KG,414419,CNY
3,12/31/2023,CHINA-WAREHOUSE,MAT-0193,3142,12240,KG,71726,CNY
4,12/31/2023,CHINA-WAREHOUSE,MAT-0193,6734,2720,KG,15939,CNY
5,12/31/2023,CHINA-WAREHOUSE,MAT-0311,SCRAP,4142,KG,25018,CNY
6,12/31/2023,CHINA-WAREHOUSE,MAT-0374,5995C5416,1000,KG,6430,CNY
7,12/31/2023,CHINA-WAREHOUSE,MAT-0374,8466C2971,15125,KG,97254,CNY
8,12/31/2023,CHINA-WAREHOUSE,MAT-0374,8143C2373,32975,KG,212029,CNY
9,12/31/2023,CHINA-WAREHOUSE,MAT-0046,9532,15125,KG,97254,CNY

In [6]:
inventory[inventory['BATCH_NUMBER'] == '3142']

,BALANCE_AS_OF_DATE,PLANT_NAME,MATERIAL_NAME,BATCH_NUMBER,UNRESRICTED_STOCK,STOCK_UNIT,STOCK_SELL_VALUE,CURRENCY
3,12/31/2023,CHINA-WAREHOUSE,MAT-0193,3142,12240,KG,71726,CNY

In [7]:
inventory_grouped = inventory.groupby(['MATERIAL_NAME']).agg(
    total_quantity=('UNRESRICTED_STOCK', 'sum'),
    total_cost=('STOCK_SELL_VALUE', 'sum')
).reset_index().sort_values(by='total_quantity', ascending=True)

inventory_grouped[inventory_grouped['MATERIAL_NAME'] == 'MAT-0045']

   MATERIAL_NAME  total_quantity  total_cost
44      MAT-0045            2826        3097

In [8]:
inventory[inventory['MATERIAL_NAME'] == 'MAT-0331']

,BALANCE_AS_OF_DATE,PLANT_NAME,MATERIAL_NAME,BATCH_NUMBER,UNRESRICTED_STOCK,STOCK_UNIT,STOCK_SELL_VALUE,CURRENCY
639,12/31/2023,CHINA-WAREHOUSE,MAT-0331,SCRAP,12,KG,70,CNY
1454,1/31/2024,CHINA-WAREHOUSE,MAT-0331,SCRAP,12,KG,0,CNY
2314,2/29/2024,CHINA-WAREHOUSE,MAT-0331,SCRAP,12,KG,0,CNY
3213,3/31/2024,CHINA-WAREHOUSE,MAT-0331,SCRAP,12,KG,0,CNY
4134,4/30/2024,CHINA-WAREHOUSE,MAT-0331,SCRAP,12,KG,0,CNY
5080,5/31/2024,CHINA-WAREHOUSE,MAT-0331,SCRAP,12,KG,0,CNY
6278,6/30/2024,CHINA-WAREHOUSE,MAT-0331,SCRAP,12,KG,0,CNY
7924,7/31/2024,CHINA-WAREHOUSE,MAT-0331,SCRAP,12,KG,0,CNY
9387,8/31/2024,CHINA-WAREHOUSE,MAT-0331,SCRAP,12,KG,70,CNY

In [9]:
# Scraps
inventory_scrap = inventory[inventory['BATCH_NUMBER'] == 'SCRAP']


inventory_scrap_merged = inventory_scrap.merge(
    material[['MATERIAL_NAME', 'SHELF_LIFE_IN_MONTH']],
    on='MATERIAL_NAME',
    how='left'
).drop(columns=['STOCK_UNIT', 'CURRENCY', 'BATCH_NUMBER'])

inventory_scrap_merged.sort_values(by='BALANCE_AS_OF_DATE')

,BALANCE_AS_OF_DATE,PLANT_NAME,MATERIAL_NAME,UNRESRICTED_STOCK,STOCK_SELL_VALUE,SHELF_LIFE_IN_MONTH
32,1/31/2024,CHINA-WAREHOUSE,MAT-0279,1654,3424,3
22,1/31/2024,CHINA-WAREHOUSE,MAT-0257,5164,10482,8
23,1/31/2024,CHINA-WAREHOUSE,MAT-0258,11187,65558,9
24,1/31/2024,CHINA-WAREHOUSE,MAT-0100,5143,31063,5
25,1/31/2024,CHINA-WAREHOUSE,MAT-0095,1685,2325,9
...,...,...,...,...,...,...
208,9/30/2024,CHINA-WAREHOUSE,MAT-0258,529,3098,9
206,9/30/2024,CHINA-WAREHOUSE,MAT-0194,38,118,2
205,9/30/2024,CHINA-WAREHOUSE,MAT-0045,68,88,10
210,9/30/2024,CHINA-WAREHOUSE,MAT-0095,157,217,9
216,9/30/2024,CHINA-WAREHOUSE,MAT-0282,50,710,8

In [10]:
inventory_scrap_merged

,BALANCE_AS_OF_DATE,PLANT_NAME,MATERIAL_NAME,UNRESRICTED_STOCK,STOCK_SELL_VALUE,SHELF_LIFE_IN_MONTH
0,12/31/2023,CHINA-WAREHOUSE,MAT-0045,164,211,10
1,12/31/2023,CHINA-WAREHOUSE,MAT-0311,4142,25018,7
2,12/31/2023,CHINA-WAREHOUSE,MAT-0194,100,314,2
3,12/31/2023,CHINA-WAREHOUSE,MAT-0257,5151,10457,8
4,12/31/2023,CHINA-WAREHOUSE,MAT-0258,10048,58879,9
...,...,...,...,...,...,...
257,12/31/2024,CHINA-WAREHOUSE,MAT-0187,544,506,5
258,12/31/2024,CHINA-WAREHOUSE,MAT-0214,535,3439,6
259,12/31/2024,CHINA-WAREHOUSE,MAT-0300,1300,4082,7
260,12/31/2024,CHINA-WAREHOUSE,MAT-0280,11,72,9
261,12/31/2024,CHINA-WAREHOUSE,MAT-0282,339,4869,8

In [11]:
temp = inventory_scrap_merged.groupby(['MATERIAL_NAME']).agg(
    total_quantity=('UNRESRICTED_STOCK', 'sum'),
    total_cost=('STOCK_SELL_VALUE', 'sum'),
    shelf_life=('SHELF_LIFE_IN_MONTH', 'first'),
).reset_index().sort_values(by='total_quantity', ascending=True)

temp.head()

   MATERIAL_NAME  total_quantity  total_cost  shelf_life
17      MAT-0219              20          11           6
27      MAT-0331             108         140           6
2       MAT-0036             130         726           5
6       MAT-0078             152         512           3
0       MAT-0010             495        3172           5

## Inbounds grouped by date, material, plant, with the sum

In [71]:
inbound_grouped = inbound.groupby(['INBOUND_DATE', 'MATERIAL_NAME', 'PLANT_NAME']).agg(
    total_quantity=('NET_QUANTITY_MT', 'sum')
).reset_index().sort_values(by='INBOUND_DATE')

inbound_grouped[inbound_grouped['MATERIAL_NAME'] == 'MAT-0339'].head(10)

     INBOUND_DATE MATERIAL_NAME       PLANT_NAME  total_quantity
215    2024/01/11      MAT-0339  CHINA-WAREHOUSE            25.5
629    2024/03/21      MAT-0339  CHINA-WAREHOUSE            25.5
901    2024/04/29      MAT-0339  CHINA-WAREHOUSE            25.5
1349   2024/07/15      MAT-0339  CHINA-WAREHOUSE            25.5
1421   2024/07/27      MAT-0339  CHINA-WAREHOUSE             0.5
1456   2024/08/01      MAT-0339  CHINA-WAREHOUSE            25.5
1974   2024/11/10      MAT-0339  CHINA-WAREHOUSE            25.5
2116   2024/12/22      MAT-0339  CHINA-WAREHOUSE            25.5

## Same with outbounds

In [51]:
# groupe outbound by date and material_name and plant_name, with separated transports, customer name, and total quantity
outbound_grouped = outbound.groupby(['OUTBOUND_DATE', 'MATERIAL_NAME', 'PLANT_NAME', 'MODE_OF_TRANSPORT', 'CUSTOMER_NUMBER']).agg(
    total_quantity=('NET_QUANTITY_MT', 'sum')
).reset_index().sort_values(by='OUTBOUND_DATE')

outbound_grouped[(outbound_grouped['MATERIAL_NAME'] == 'MAT-0050') 
                 & (outbound_grouped['PLANT_NAME'] == 'SINGAPORE-WAREHOUSE')].head(10)

,OUTBOUND_DATE,MATERIAL_NAME,PLANT_NAME,MODE_OF_TRANSPORT,CUSTOMER_NUMBER,total_quantity
0,2023/12/06,MAT-0050,SINGAPORE-WAREHOUSE,Marine,CST-01001,99.00
64,2024/01/03,MAT-0050,SINGAPORE-WAREHOUSE,Truck,CST-01020,24.75
287,2024/01/08,MAT-0050,SINGAPORE-WAREHOUSE,Marine,CST-01037,24.75
464,2024/01/11,MAT-0050,SINGAPORE-WAREHOUSE,Truck,CST-01020,49.50
619,2024/01/15,MAT-0050,SINGAPORE-WAREHOUSE,Truck,CST-01020,24.75
1874,2024/02/25,MAT-0050,SINGAPORE-WAREHOUSE,Marine,CST-01188,24.75
3009,2024/03/25,MAT-0050,SINGAPORE-WAREHOUSE,Marine,CST-01188,24.75
3874,2024/04/15,MAT-0050,SINGAPORE-WAREHOUSE,Truck,CST-01020,24.75
4186,2024/04/22,MAT-0050,SINGAPORE-WAREHOUSE,Truck,CST-01020,24.75
4324,2024/04/25,MAT-0050,SINGAPORE-WAREHOUSE,Truck,CST-01020,24.75

## TBD. Inventory grouped by items per month (?)

In [77]:
initial_inv = inventory.groupby(['BALANCE_AS_OF_DATE', 'PLANT_NAME', 'MATERIAL_NAME']).agg(
    InitialInv=('UNRESRICTED_STOCK', 'sum')
).reset_index()

# Convert the column to datetime format
initial_inv['BALANCE_AS_OF_DATE'] = pd.to_datetime(initial_inv['BALANCE_AS_OF_DATE'], format='%m/%d/%Y')

initial_inv[initial_inv['MATERIAL_NAME'] == 'MAT-0050'].sort_values(by='BALANCE_AS_OF_DATE', ascending=True)

     BALANCE_AS_OF_DATE           PLANT_NAME MATERIAL_NAME  InitialInv
1180         2023-12-31      CHINA-WAREHOUSE      MAT-0050      224200
1359         2023-12-31  SINGAPORE-WAREHOUSE      MAT-0050      453750
21           2024-01-31      CHINA-WAREHOUSE      MAT-0050      224100
198          2024-01-31  SINGAPORE-WAREHOUSE      MAT-0050      330000
2129         2024-02-29  SINGAPORE-WAREHOUSE      MAT-0050      305250
1948         2024-02-29      CHINA-WAREHOUSE      MAT-0050      224100
2295         2024-03-31      CHINA-WAREHOUSE      MAT-0050      224100
2486         2024-03-31  SINGAPORE-WAREHOUSE      MAT-0050      558750
2659         2024-04-30      CHINA-WAREHOUSE      MAT-0050      224075
2859         2024-04-30  SINGAPORE-WAREHOUSE      MAT-0050      180375
3040         2024-05-31      CHINA-WAREHOUSE      MAT-0050      215750
3250         2024-05-31  SINGAPORE-WAREHOUSE      MAT-0050        4400
3434         2024-06-30      CHINA-WAREHOUSE      MAT-0050      211525
3659         2024-06-30  SINGAPORE-WAREHOUSE      MAT-0050        4400
3841         2024-07-31      CHINA-WAREHOUSE      MAT-0050      181200
4073         2024-07-31  SINGAPORE-WAREHOUSE      MAT-0050        4400
4258         2024-08-31      CHINA-WAREHOUSE      MAT-0050      181200
4491         2024-08-31  SINGAPORE-WAREHOUSE      MAT-0050        4400
4678         2024-09-30      CHINA-WAREHOUSE      MAT-0050        6750
4904         2024-09-30  SINGAPORE-WAREHOUSE      MAT-0050        4400
607          2024-10-31  SINGAPORE-WAREHOUSE      MAT-0050        4400
369          2024-10-31      CHINA-WAREHOUSE      MAT-0050        2800
1012         2024-11-30  SINGAPORE-WAREHOUSE      MAT-0050        4400
1766         2024-12-31  SINGAPORE-WAREHOUSE      MAT-0050        4400

In [78]:
initial_div_1000 = initial_inv['InitialInv']/1000
initial_inv['InitialInv'] = initial_div_1000

In [82]:
inbound_grouped[inbound_grouped['MATERIAL_NAME'] == 'MAT-0339'].head(10)

     INBOUND_DATE MATERIAL_NAME       PLANT_NAME  total_quantity
215    2024/01/11      MAT-0339  CHINA-WAREHOUSE            25.5
629    2024/03/21      MAT-0339  CHINA-WAREHOUSE            25.5
901    2024/04/29      MAT-0339  CHINA-WAREHOUSE            25.5
1349   2024/07/15      MAT-0339  CHINA-WAREHOUSE            25.5
1421   2024/07/27      MAT-0339  CHINA-WAREHOUSE             0.5
1456   2024/08/01      MAT-0339  CHINA-WAREHOUSE            25.5
1974   2024/11/10      MAT-0339  CHINA-WAREHOUSE            25.5
2116   2024/12/22      MAT-0339  CHINA-WAREHOUSE            25.5

In [85]:
outbound_grouped[outbound_grouped['MATERIAL_NAME'] == 'MAT-0339'].sort_values(by='OUTBOUND_DATE', ascending=True)

,OUTBOUND_DATE,MATERIAL_NAME,PLANT_NAME,MODE_OF_TRANSPORT,CUSTOMER_NUMBER,total_quantity
54,2024/01/02,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00025,0.35
392,2024/01/09,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00080,0.10
550,2024/01/12,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00025,0.03
813,2024/01/18,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00025,0.10
863,2024/01/19,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00080,0.08
1356,2024/02/01,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00062,1.50
1378,2024/02/02,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00178,24.00
1972,2024/02/27,MAT-0339,SINGAPORE-WAREHOUSE,Marine,CST-01196,22.50
2160,2024/03/03,MAT-0339,SINGAPORE-WAREHOUSE,Marine,CST-01062,4.50
2392,2024/03/07,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00435,0.28
2861,2024/03/20,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00025,0.03
3039,2024/03/25,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00080,0.10
3084,2024/03/26,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00080,0.08
3687,2024/04/10,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00536,10.50
3752,2024/04/11,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00536,4.50
3753,2024/04/11,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00541,7.50
4715,2024/05/07,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00439,1.50
4973,2024/05/11,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00536,0.05
5148,2024/05/15,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00435,0.18
5688,2024/05/28,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00025,1.51
5809,2024/05/30,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00062,4.50
6442,2024/06/13,MAT-0339,SINGAPORE-WAREHOUSE,Marine,CST-01341,12.00
6702,2024/06/19,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00025,0.18
6804,2024/06/21,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00704,4.50
7013,2024/06/26,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00062,1.50
7249,2024/07/02,MAT-0339,SINGAPORE-WAREHOUSE,Truck,CST-01358,23.90
7464,2024/07/06,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00025,0.03
7965,2024/07/17,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00704,6.00
8021,2024/07/18,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00062,1.50
8333,2024/07/25,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00062,1.50
8999,2024/08/12,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00216,6.00
9212,2024/08/16,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00025,0.20
9361,2024/08/20,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00813,0.05
9593,2024/08/26,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00439,6.00
9816,2024/08/30,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00025,12.75
10748,2024/09/18,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00080,0.30
10903,2024/09/21,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00057,0.10
11115,2024/09/25,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00190,15.00
12241,2024/10/18,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00439,5.50
12814,2024/10/30,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00025,0.33
12851,2024/10/31,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00492,0.51
14341,2024/12/03,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00952,25.50
14449,2024/12/05,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00323,0.08
14501,2024/12/06,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00960,1.50
14983,2024/12/17,MAT-0339,CHINA-WAREHOUSE,Truck,CST-00984,8.48

In [84]:
initial_inv[(initial_inv['MATERIAL_NAME'] == 'MAT-0339') & 
            (initial_inv['PLANT_NAME'] == 'CHINA-WAREHOUSE')].sort_values(by='BALANCE_AS_OF_DATE', ascending=True)

     BALANCE_AS_OF_DATE       PLANT_NAME MATERIAL_NAME  InitialInv
1312         2023-12-31  CHINA-WAREHOUSE      MAT-0339       1.125
151          2024-01-31  CHINA-WAREHOUSE      MAT-0339      25.975
2077         2024-02-29  CHINA-WAREHOUSE      MAT-0339       0.475
2803         2024-04-30  CHINA-WAREHOUSE      MAT-0339       3.000
3193         2024-05-31  CHINA-WAREHOUSE      MAT-0339      20.725
3595         2024-06-30  CHINA-WAREHOUSE      MAT-0339      14.550
4006         2024-07-31  CHINA-WAREHOUSE      MAT-0339      31.525
4423         2024-08-31  CHINA-WAREHOUSE      MAT-0339      31.525
4833         2024-09-30  CHINA-WAREHOUSE      MAT-0339      16.425
536          2024-10-31  CHINA-WAREHOUSE      MAT-0339      10.075
949          2024-11-30  CHINA-WAREHOUSE      MAT-0339      35.550
1693         2024-12-31  CHINA-WAREHOUSE      MAT-0339      25.500

In [89]:
initial_inv_china = initial_inv[initial_inv['PLANT_NAME'] == 'CHINA-WAREHOUSE']
initial_inv_singapore = initial_inv[initial_inv['PLANT_NAME'] == 'SINGAPORE-WAREHOUSE']

In [90]:
initial_inv_china.head(10).sort_values(by='BALANCE_AS_OF_DATE', ascending=True)

  BALANCE_AS_OF_DATE       PLANT_NAME MATERIAL_NAME  InitialInv
0         2024-01-31  CHINA-WAREHOUSE      MAT-0001    2225.625
1         2024-01-31  CHINA-WAREHOUSE      MAT-0002       1.175
2         2024-01-31  CHINA-WAREHOUSE      MAT-0003     112.540
3         2024-01-31  CHINA-WAREHOUSE      MAT-0004      83.925
4         2024-01-31  CHINA-WAREHOUSE      MAT-0006       3.850
5         2024-01-31  CHINA-WAREHOUSE      MAT-0007     116.275
6         2024-01-31  CHINA-WAREHOUSE      MAT-0008       1.250
7         2024-01-31  CHINA-WAREHOUSE      MAT-0009     618.800
8         2024-01-31  CHINA-WAREHOUSE      MAT-0013     329.600
9         2024-01-31  CHINA-WAREHOUSE      MAT-0014       0.022

In [127]:
min_date = initial_inv_china['BALANCE_AS_OF_DATE'].min()
max_date = pd.to_datetime("2024-12-31")
full_dates = pd.date_range(min_date, max_date)

# Cross join dates with material list
materials = initial_inv_china['MATERIAL_NAME'].unique()
date_df = pd.DataFrame({'Day': full_dates})
mat_df = pd.DataFrame({'MATERIAL_NAME': materials})
cross = date_df.merge(mat_df, how='cross')

# Merge and forward fill
daily_inv = cross.merge(
    initial_inv_china,
    left_on=['Day', 'MATERIAL_NAME'],
    right_on=['BALANCE_AS_OF_DATE', 'MATERIAL_NAME'],
    how='left'
)
daily_inv = daily_inv.sort_values(['MATERIAL_NAME', 'Day'])
daily_inv['InitialInv'] = daily_inv.groupby('MATERIAL_NAME')['InitialInv'].ffill()

# Clean up
daily_inv = daily_inv[['Day', 'MATERIAL_NAME', 'InitialInv']]
daily_inv

              Day MATERIAL_NAME  InitialInv
0      2023-12-31      MAT-0001    1927.525
307    2024-01-01      MAT-0001    1927.525
614    2024-01-02      MAT-0001    1927.525
921    2024-01-03      MAT-0001    1927.525
1228   2024-01-04      MAT-0001    1927.525
...           ...           ...         ...
111401 2024-12-27      MAT-0430      58.450
111708 2024-12-28      MAT-0430      58.450
112015 2024-12-29      MAT-0430      58.450
112322 2024-12-30      MAT-0430      58.450
112629 2024-12-31      MAT-0430     355.225

[112669 rows x 3 columns]

In [99]:
daily_inv_merge.to_csv('./data/daily_inventory_merged.csv', index=False)

In [128]:
# convert OUTBOUND_DATE to timestamp format
outbound_grouped['OUTBOUND_DATE'] = pd.to_datetime(outbound_grouped['OUTBOUND_DATE'], format='%Y/%m/%d')
outbound_grouped

,OUTBOUND_DATE,MATERIAL_NAME,PLANT_NAME,MODE_OF_TRANSPORT,CUSTOMER_NUMBER,total_quantity
0,2023-12-06,MAT-0050,SINGAPORE-WAREHOUSE,Marine,CST-01001,99.000
1,2023-12-31,MAT-0056,SINGAPORE-WAREHOUSE,Marine,CST-01002,49.500
2,2023-12-31,MAT-0210,SINGAPORE-WAREHOUSE,Marine,CST-01003,6.875
3,2023-12-31,MAT-0303,SINGAPORE-WAREHOUSE,Marine,CST-01003,2.500
4,2023-12-31,MAT-0345,SINGAPORE-WAREHOUSE,Marine,CST-01003,1.250
...,...,...,...,...,...,...
15505,2024-12-31,MAT-0015,CHINA-WAREHOUSE,Truck,CST-00259,24.750
15504,2024-12-31,MAT-0001,CHINA-WAREHOUSE,Truck,CST-00178,51.000
15517,2024-12-31,MAT-0232,CHINA-WAREHOUSE,Truck,CST-00094,74.260
15531,2025-01-01,MAT-0172,SINGAPORE-WAREHOUSE,Marine,CST-01120,49.500
15532,2025-01-02,MAT-0012,SINGAPORE-WAREHOUSE,Marine,CST-01467,24.750

In [147]:
outbound_grouped[outbound_grouped['PLANT_NAME'] == 'SINGAPORE-WAREHOUSE'].head(20)

,OUTBOUND_DATE,MATERIAL_NAME,PLANT_NAME,MODE_OF_TRANSPORT,CUSTOMER_NUMBER,total_quantity
0,2023-12-06,MAT-0050,SINGAPORE-WAREHOUSE,Marine,CST-01001,99.000
1,2023-12-31,MAT-0056,SINGAPORE-WAREHOUSE,Marine,CST-01002,49.500
2,2023-12-31,MAT-0210,SINGAPORE-WAREHOUSE,Marine,CST-01003,6.875
3,2023-12-31,MAT-0303,SINGAPORE-WAREHOUSE,Marine,CST-01003,2.500
4,2023-12-31,MAT-0345,SINGAPORE-WAREHOUSE,Marine,CST-01003,1.250
5,2023-12-31,MAT-0366,SINGAPORE-WAREHOUSE,Marine,CST-01004,10.000
13,2024-01-01,MAT-0421,SINGAPORE-WAREHOUSE,Marine,CST-01005,49.500
12,2024-01-01,MAT-0413,SINGAPORE-WAREHOUSE,Marine,CST-01007,0.500
10,2024-01-01,MAT-0344,SINGAPORE-WAREHOUSE,Marine,CST-01010,4.125
11,2024-01-01,MAT-0395,SINGAPORE-WAREHOUSE,Marine,CST-01007,23.375
8,2024-01-01,MAT-0338,SINGAPORE-WAREHOUSE,Marine,CST-01006,1.000
7,2024-01-01,MAT-0303,SINGAPORE-WAREHOUSE,Marine,CST-01010,6.250
6,2024-01-01,MAT-0210,SINGAPORE-WAREHOUSE,Marine,CST-01008,11.000
9,2024-01-01,MAT-0344,SINGAPORE-WAREHOUSE,Marine,CST-01009,11.000
43,2024-01-02,MAT-0302,SINGAPORE-WAREHOUSE,Truck,CST-01013,7.980
44,2024-01-02,MAT-0303,SINGAPORE-WAREHOUSE,Marine,CST-01009,10.000
24,2024-01-02,MAT-0065,SINGAPORE-WAREHOUSE,Marine,CST-01011,49.500
26,2024-01-02,MAT-0109,SINGAPORE-WAREHOUSE,Marine,CST-01012,49.500
33,2024-01-02,MAT-0151,SINGAPORE-WAREHOUSE,Truck,CST-01014,49.500
94,2024-01-03,MAT-0303,SINGAPORE-WAREHOUSE,Marine,CST-01017,22.500

In [156]:
new_sg_outbound.groupby('OUTBOUND_MONTH').agg(
    total_quantity=('total_quantity', 'sum')
).reset_index().sort_values(by='OUTBOUND_MONTH')

   OUTBOUND_MONTH  total_quantity
0         2023-12         169.125
1         2024-01        8030.355
2         2024-02       10046.795
3         2024-03       11107.855
4         2024-04        8797.185
5         2024-05       10501.950
6         2024-06       12455.665
7         2024-07       12305.930
8         2024-08       13300.645
9         2024-09       12277.775
10        2024-10       15154.065
11        2024-11       14412.775
12        2024-12       11252.095
13        2025-01          74.250

In [192]:
# merge daily_inv with outbound_grouped on OUTBOUND_DATE and day, with MATERIAL_NAME and show total_quantity column
daily_inv_merge = daily_inv.merge(
    outbound_grouped,
    left_on=['Day', 'MATERIAL_NAME'],
    right_on=['OUTBOUND_DATE', 'MATERIAL_NAME'],
    how='left'
)
daily_inv_merge.head(20)

,Day,MATERIAL_NAME,InitialInv,OUTBOUND_DATE,PLANT_NAME,MODE_OF_TRANSPORT,CUSTOMER_NUMBER,total_quantity
0,2023-12-31,MAT-0001,1927.525,NaT,NaN,NaN,NaN,NaN
1,2024-01-01,MAT-0001,1927.525,NaT,NaN,NaN,NaN,NaN
2,2024-01-02,MAT-0001,1927.525,NaT,NaN,NaN,NaN,NaN
3,2024-01-03,MAT-0001,1927.525,2024-01-03,CHINA-WAREHOUSE,Truck,CST-00037,25.50
4,2024-01-04,MAT-0001,1927.525,NaT,NaN,NaN,NaN,NaN
5,2024-01-05,MAT-0001,1927.525,2024-01-05,CHINA-WAREHOUSE,Truck,CST-00003,25.50
6,2024-01-05,MAT-0001,1927.525,2024-01-05,CHINA-WAREHOUSE,Truck,CST-00038,10.53
7,2024-01-05,MAT-0001,1927.525,2024-01-05,CHINA-WAREHOUSE,Truck,CST-00087,51.01
8,2024-01-05,MAT-0001,1927.525,2024-01-05,CHINA-WAREHOUSE,Truck,CST-00090,51.00
9,2024-01-05,MAT-0001,1927.525,2024-01-05,CHINA-WAREHOUSE,Truck,CST-00098,3.01
10,2024-01-06,MAT-0001,1927.525,2024-01-06,CHINA-WAREHOUSE,Truck,CST-00043,25.50
11,2024-01-06,MAT-0001,1927.525,2024-01-06,CHINA-WAREHOUSE,Truck,CST-00105,51.00
12,2024-01-07,MAT-0001,1927.525,NaT,NaN,NaN,NaN,NaN
13,2024-01-08,MAT-0001,1927.525,2024-01-08,CHINA-WAREHOUSE,Truck,CST-00126,25.50
14,2024-01-08,MAT-0001,1927.525,2024-01-08,CHINA-WAREHOUSE,Truck,CST-00136,1.50
15,2024-01-09,MAT-0001,1927.525,2024-01-09,CHINA-WAREHOUSE,Truck,CST-00140,15.00
16,2024-01-09,MAT-0001,1927.525,2024-01-09,CHINA-WAREHOUSE,Truck,CST-00105,18.00
17,2024-01-10,MAT-0001,1927.525,2024-01-10,CHINA-WAREHOUSE,Truck,CST-00003,25.50
18,2024-01-10,MAT-0001,1927.525,2024-01-10,CHINA-WAREHOUSE,Truck,CST-00168,25.50
19,2024-01-11,MAT-0001,1927.525,2024-01-11,CHINA-WAREHOUSE,Truck,CST-00037,46.23

In [191]:
def process_inventory_data(df):
    """
    Process inventory data to add propagated inventory column.
    """
    df_processed = df.copy()
    
    # Convert total_quantity to numeric, handling NaN values
    df_processed['total_quantity'] = pd.to_numeric(df_processed['total_quantity'], errors='coerce')
    
    # Initialize the PropagatedInventory column
    df_processed['PropagatedInventory'] = np.nan
    
    # Get the initial inventory value
    initial_inventory = df_processed['InitialInv'].iloc[0]
    running_inventory = initial_inventory
    
    # Process each row
    for idx in df_processed.index:
        # Check if there's an outbound quantity
        outbound_qty = df_processed.loc[idx, 'total_quantity']
        
        # If there's an outbound quantity, subtract it from running inventory
        if pd.notna(outbound_qty):
            running_inventory -= outbound_qty
        
        # Set the propagated inventory for this row
        df_processed.loc[idx, 'PropagatedInventory'] = running_inventory
    
    return df_processed

In [193]:
daily_inv_processed = process_inventory_data(daily_inv_merge)

In [194]:
daily_inv_processed

,Day,MATERIAL_NAME,InitialInv,OUTBOUND_DATE,PLANT_NAME,MODE_OF_TRANSPORT,CUSTOMER_NUMBER,total_quantity,PropagatedInventory
0,2023-12-31,MAT-0001,1927.525,NaT,NaN,NaN,NaN,NaN,1927.525
1,2024-01-01,MAT-0001,1927.525,NaT,NaN,NaN,NaN,NaN,1927.525
2,2024-01-02,MAT-0001,1927.525,NaT,NaN,NaN,NaN,NaN,1927.525
3,2024-01-03,MAT-0001,1927.525,2024-01-03,CHINA-WAREHOUSE,Truck,CST-00037,25.50,1902.025
4,2024-01-04,MAT-0001,1927.525,NaT,NaN,NaN,NaN,NaN,1902.025
...,...,...,...,...,...,...,...,...,...
116584,2024-12-27,MAT-0430,58.450,NaT,NaN,NaN,NaN,NaN,-365924.220
116585,2024-12-28,MAT-0430,58.450,2024-12-28,CHINA-WAREHOUSE,Truck,CST-00922,2.76,-365926.980
116586,2024-12-29,MAT-0430,58.450,NaT,NaN,NaN,NaN,NaN,-365926.980
116587,2024-12-30,MAT-0430,58.450,NaT,NaN,NaN,NaN,NaN,-365926.980
116588,2024-12-31,MAT-0430,355.225,NaT,NaN,NaN,NaN,NaN,-365926.980

In [187]:
# Convert Day and OUTBOUND_DATE to datetime
daily_inv_merge['Day'] = pd.to_datetime(daily_inv_merge['Day'])

# Drop the CUSTOMER_NUMBER column
daily_inv_merge.drop(columns=['CUSTOMER_NUMBER'], inplace=True)
daily_inv_merge.head()

,Day,MATERIAL_NAME,InitialInv,OUTBOUND_DATE,PLANT_NAME,MODE_OF_TRANSPORT,total_quantity
0,2023-12-31,MAT-0001,1927.525,NaT,NaN,NaN,NaN
1,2024-01-01,MAT-0001,1927.525,NaT,NaN,NaN,NaN
2,2024-01-02,MAT-0001,1927.525,NaT,NaN,NaN,NaN
3,2024-01-03,MAT-0001,1927.525,2024-01-03,CHINA-WAREHOUSE,Truck,25.5
4,2024-01-04,MAT-0001,1927.525,NaT,NaN,NaN,NaN

In [171]:
daily_inv_merge['OUTBOUND_DATE'] = pd.to_datetime(daily_inv_merge['OUTBOUND_DATE'], errors='coerce')

In [177]:
daily_inv_merge.head()

,Day,MATERIAL_NAME,InitialInv,OUTBOUND_DATE,PLANT_NAME,MODE_OF_TRANSPORT,total_quantity
0,2023-12-31,MAT-0001,1927.525,NaT,NaN,NaN,NaN
1,2024-01-01,MAT-0001,1927.525,NaT,NaN,NaN,NaN
2,2024-01-02,MAT-0001,1927.525,NaT,NaN,NaN,NaN
3,2024-01-03,MAT-0001,1927.525,2024-01-03,CHINA-WAREHOUSE,Truck,25.5
4,2024-01-04,MAT-0001,1927.525,NaT,NaN,NaN,NaN

In [188]:
daily_inv_merge['total_quantity'] = pd.to_numeric(daily_inv_merge['total_quantity'], errors='coerce').fillna(0)

# Create a mask for rows where total_quantity is valid (i.e., real OUTBOUND rows)
valid_mask = daily_inv_merge['total_quantity'] > 0

# Sort by Day (or ensure it's already sorted)
df = daily_inv_merge.sort_values(by='Day')

# Calculate cumulative quantity per MATERIAL_NAME
def calc_adjusted(group):
    group = group.copy()
    group['CumulativeQty'] = group['total_quantity'].cumsum()
    group['AdjustedInv'] = group['InitialInv'] + group['CumulativeQty']
    group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
    return group

# Group by MATERIAL_NAME and apply logic
df = df.groupby('MATERIAL_NAME', group_keys=False).apply(calc_adjusted)

# Clean up (optional)
df.drop(columns='CumulativeQty', inplace=True)

/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['AdjustedInv'] = group['AdjustedInv'].fillna(method='ffill')  # Forward-fill through NaNs
/var/folders/31/0q4j2qxx7yb_s7468v3hrsd40000gn/T/ipykernel_7919/4263384311.py:14: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.

In [185]:
daily_inv_merge.head(20)

,Day,MATERIAL_NAME,InitialInv,OUTBOUND_DATE,PLANT_NAME,MODE_OF_TRANSPORT,CUSTOMER_NUMBER,total_quantity,AdjustedInv
60036,2023-12-31,MAT-0194,0.100,NaT,NaN,NaN,NaN,NaN,NaN
33331,2023-12-31,MAT-0084,431.525,NaT,NaN,NaN,NaN,NaN,NaN
24572,2023-12-31,MAT-0046,825.575,NaT,NaN,NaN,NaN,NaN,NaN
64449,2023-12-31,MAT-0207,23.375,NaT,NaN,NaN,NaN,NaN,NaN
64794,2023-12-31,MAT-0208,NaN,NaT,NaN,NaN,NaN,NaN,NaN
103161,2023-12-31,MAT-0374,49.100,NaT,NaN,NaN,NaN,NaN,NaN
65160,2023-12-31,MAT-0209,NaN,NaT,NaN,NaN,NaN,NaN,NaN
14633,2023-12-31,MAT-0003,112.540,NaT,NaN,NaN,NaN,NaN,NaN
65893,2023-12-31,MAT-0214,5.025,NaT,NaN,NaN,NaN,NaN,NaN
102805,2023-12-31,MAT-0373,0.050,NaT,NaN,NaN,NaN,NaN,NaN
66258,2023-12-31,MAT-0215,106.800,NaT,NaN,NaN,NaN,NaN,NaN
32964,2023-12-31,MAT-0083,9.975,NaT,NaN,NaN,NaN,NaN,NaN
14282,2023-12-31,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN,NaN
64172,2023-12-31,MAT-0206,839.175,NaT,NaN,NaN,NaN,NaN,NaN
66622,2023-12-31,MAT-0216,18.520,NaT,NaN,NaN,NaN,NaN,NaN
102438,2023-12-31,MAT-0370,NaN,NaT,NaN,NaN,NaN,NaN,NaN
14145,2023-12-31,MAT-0001,1927.525,NaT,NaN,NaN,NaN,NaN,NaN
66988,2023-12-31,MAT-0217,153.700,NaT,NaN,NaN,NaN,NaN,NaN
67347,2023-12-31,MAT-0218,NaN,NaT,NaN,NaN,NaN,NaN,NaN
67681,2023-12-31,MAT-0219,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [181]:
daily_inv_merge.drop(columns=['MODE_OF_TRANSPORT'], inplace=True)

In [180]:
daily_inv_merge[daily_inv_merge['MATERIAL_NAME'] == 'MAT-0002'].head(10)

,Day,MATERIAL_NAME,InitialInv,OUTBOUND_DATE,PLANT_NAME,MODE_OF_TRANSPORT,total_quantity,AdjustedInv
14282,2023-12-31,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN
14283,2024-01-01,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN
14284,2024-01-02,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN
14285,2024-01-03,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN
14286,2024-01-04,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN
14287,2024-01-05,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN
14288,2024-01-06,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN
14289,2024-01-07,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN
14290,2024-01-08,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN
14291,2024-01-09,MAT-0002,1.175,NaT,NaN,NaN,NaN,NaN

In [166]:
adjusted_inv_sg = daily_inv_merge[daily_inv_merge['PLANT_NAME'] == 'SINGAPORE-WAREHOUSE']
adjusted_inv_sg

,Day,MATERIAL_NAME,PLANT_NAME,total_quantity,AdjustedInv
1900,2024-07-25,MAT-0005,SINGAPORE-WAREHOUSE,12.00,12.025
2516,2024-03-29,MAT-0007,SINGAPORE-WAREHOUSE,5.40,808.775
2604,2024-06-24,MAT-0007,SINGAPORE-WAREHOUSE,24.75,833.525
2686,2024-09-08,MAT-0007,SINGAPORE-WAREHOUSE,49.50,883.025
4245,2024-11-22,MAT-0011,SINGAPORE-WAREHOUSE,1.00,203.575
...,...,...,...,...,...
115747,2024-09-20,MAT-0428,SINGAPORE-WAREHOUSE,99.00,2961.635
115778,2024-10-21,MAT-0428,SINGAPORE-WAREHOUSE,49.50,3011.135
115845,2024-12-25,MAT-0428,SINGAPORE-WAREHOUSE,49.50,3060.635
115849,2024-12-29,MAT-0428,SINGAPORE-WAREHOUSE,99.00,3159.635
115854,2024-12-31,MAT-0428,SINGAPORE-WAREHOUSE,247.50,3407.135

In [167]:
adjusted_inv_sg.to_csv('./data/adjusted_inventory_sg.csv', index=False)

In [168]:
adjusted_inv_sg

,Day,MATERIAL_NAME,PLANT_NAME,total_quantity,AdjustedInv
1900,2024-07-25,MAT-0005,SINGAPORE-WAREHOUSE,12.00,12.025
2516,2024-03-29,MAT-0007,SINGAPORE-WAREHOUSE,5.40,808.775
2604,2024-06-24,MAT-0007,SINGAPORE-WAREHOUSE,24.75,833.525
2686,2024-09-08,MAT-0007,SINGAPORE-WAREHOUSE,49.50,883.025
4245,2024-11-22,MAT-0011,SINGAPORE-WAREHOUSE,1.00,203.575
...,...,...,...,...,...
115747,2024-09-20,MAT-0428,SINGAPORE-WAREHOUSE,99.00,2961.635
115778,2024-10-21,MAT-0428,SINGAPORE-WAREHOUSE,49.50,3011.135
115845,2024-12-25,MAT-0428,SINGAPORE-WAREHOUSE,49.50,3060.635
115849,2024-12-29,MAT-0428,SINGAPORE-WAREHOUSE,99.00,3159.635
115854,2024-12-31,MAT-0428,SINGAPORE-WAREHOUSE,247.50,3407.135